# Ejercicio 4 - gu铆a 1

En 1975 se llev贸 a cabo un experimento para ver si la siembra de nubes produc铆a lluvia. Se
sembraron 26 nubes con nitrato de plata y otras 26 no fueron sembradas. En https://dasl.datadescription.com/datafile/cloud-seeding/ se encuentra el dataset con la
cantidad de lluvia que gener贸 cada nube en cada uno de los dos grupos. Llamamos  a la diferencia entre la precipitaci贸n media de los dos grupos.

## a) 
Estimar

### Desarrollo

Primero paso a leer el archivo donde se encuentran los datos con pandas:

In [5]:
import pandas as pd 
import os 

ruta_data_cloud = os.path.join('..', '..','datos', 'cloud_data.csv')

df_datos_cloud = pd.read_csv(ruta_data_cloud)

df_datos_cloud.head()

   Unseeded Clouds  Seeded Clouds
0           1202.6         2745.6
1            830.1         1697.8
2            372.4         1656.0
3            345.5          978.0
4            321.2          703.4

## b) 
Estimar el error est谩ndar de la estimaci贸n de  y producir un intervalo de confianza del 95%